body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: radial-gradient(circle at 50% 50%,
      #fea2d2 0%,
      #ff69b7 100%);
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

h1,
h2 {
  font-size: 2rem;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  padding: 10px;
  border: #fff 1px solid;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

legend {
  text-align: center;
  width: 100%;
  margin: 0 0 0.75rem 0;
}

#save-movie {
  display: block;
  margin: 0.75rem auto 0 auto;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

#save-movie, #order-alphabetic, #order-grade {
  color: #fff;
  border: #fff 1px solid;
  background: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  padding: 5px;
}

#save-movie:hover, #order-alphabetic:hover, #order-grade:hover {
  border: #000 1px solid;
  color: #000;
  transition: background 0.3s ease, color 0.3s ease;
}

#title-form {
  margin-bottom: 0.5rem;
}

label {
  margin-right: 0.25rem;
}

#buttons {
  display: flex;
  justify-content: space-evenly;
  width: 20%;
}

img {
  width: 2.5rem;
  height: auto;
  margin: 0 0.4rem 0 0.4rem;
}

.delete-movie {
  cursor: pointer;
  margin-left: auto;
}

.delete-movie:hover {
  color: #ff0000;
  transition: color 0.3s ease;
}

li::marker {
  content: '';
}

li {
  display: flex;
  padding: 0.5rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  width: 100%;
  align-items: center;
  margin-bottom: 1rem;
}

ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  width: 30%;
}

#home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}